<%= javascript_include_tag 'form' %>
<script type="text/javascript">
    (function(){
        $(function(){
            var form = $.form({
                container: $('#login_form'),
                onResponse: function(data) {
                    var s = '';
				    var length = 0;
				    form.container.find('input[type="submit"]').attr('disabled',false).removeClass('disabled_btn');
				    if(data.errors) {
				        $.each(data.errors, function(field, errors){
					        ++length;
					        s += form.parseError(field, errors);
				        });
					    form.error_container.html(s).hide().fadeIn(500);
				    }
				    else {
				        form.onSuccess(data);
				    }
                },
                onSuccess: function(data) {
                    window.location = data.url;
                }
            });
        });
    })(jQuery);
</script>
<% if flash[:notice] %>
    <script type="text/javascript">
        (function(){
            $(function(){
                var flash_notice = $('#flash_notice');
                var flash_width = flash_notice.outerWidth();
                flash_notice.css('margin-left', flash_width / -2);
            });
        })(jQuery);
    </script>
    <div id="flash_notice">
        <%= flash[:notice] %>
    </div>
<% end %>
<div id="login_form_wrapper">
  <div id="login_logo">
    <%= image_tag 'ui/logo.jpg' %>
  </div>
  <%= form_for :login, :url => {:controller => :admin, :action => :login} ,:html => {:autocomplete => 'off', :id => 'login_form'} do |f| %>
    <div class="login_field">
      <%= f.text_field :username, :placeholder => 'Usuario' %>
    </div>
    <div class="login_field">
      <%= f.password_field :password, :placeholder => 'Contraseña' %>
    </div>
    <div class="login_actions">
      <%= f.submit 'Login' %>
    </div>
  <% end %>
</div>
