<%= javascript_include_tag 'search_bar' %>
<script type="text/javascript">
	(function(){
		$(function(){
			var materia_id = $('#planes_materia_materia_id');
			var search_bar = $.search_bar({
				placeholder: 'Escribe el nombre o clave de la materia...',
				container: $('#search_bar'),
				url: '<%= url_for :controller => :materias, :action => :find %>',
				onResponse: function(materias){					
					var s = '';					
					$.each(materias, function(key,materia){
						s += '<div class="sb_result" value="' + materia.materia.id + '">';
							s += materia.materia.clave + ' ' + materia.materia.nombre;
						s += '</div>';	
					});
					var results = $(s);					
					search_bar.results_container.html('');
					results.appendTo(search_bar.results_container);					
					results.click(function(e){						
						e.preventDefault();
						search_bar.input.val($(this).text());
						search_bar.results_container.hide();
						materia_id.val($(this).attr('value'));						
					});					
					search_bar.results_container.hide().fadeIn(200);
					
				}
			});
		});
	})(jQuery);
</script>


<%= form_for :planes_materia, :url => {:controller => :planes_materias, :action => :create}, :html => {:id => 'planes_materia_form'} do |f|%>
	<div class="field">
		<label>
			Semestre
		</label>
		<%= f.text_field :semestre %>
	</div>
	<div>
		<label>
			Materia
		</label>
		<div id="search_bar"></div>
		<%= f.hidden_field :materia_id %>
		<%= f.hidden_field :plane_id %>
	</div>
	<div class="actions">
		<%= submit_tag 'Continuar', :class => 'blue_btn' %>
		<%= link_to 'Cancelar', '#', :class => 'blue_btn', :id => 'form_cancel_btn'%>
	</div>
<% end %>
