<%= javascript_include_tag 'pager' %>
<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		var planes_pager = null;
		var planes_container = null;
		$(function(){
			planes_container = $('#planes_container');
			planes_pager = $.pager({
				contents_container: planes_container,
				url: '<%= url_for :controller => :planes, :action => :list%>',
				onResponse: function(contents) {
					var s = '';
					s += '<tbody>';
						$.each(contents,function(key,plan){
							s += '<tr>';
								s += '<td><a href="<%= url_for :controller => :planes, :action => :show %>/' + plan.plane.id + '">' + plan.plane.nombre + '</a></td>';
								s += '<td><a href="<%= url_for :controller => :planes, :action => :show %>/' + plan.plane.id + '">'+ (plan.plane.nombre_carrera.length > 50 ? (plan.plane.nombre_carrera.substring(0,47) + '...') : plan.plane.nombre_carrera) + '</a></td>';
								s += '<td class="blue">'+ plan.plane.num_alumnos + ' alumnos</td>';
								s += '<td class="actions">';
									s += '<a href="<%= url_for :controller => :planes, :action => :edit %>/' + plan.plane.id + '">';
										s += '<%= image_tag 'ui/edit_icon.jpg', :alt => 'Editar', :title => 'Editar' %>';
									s += '</a>';
									s += '<a href="#" class ="delete_btn" id="' + plan.plane.id + '">';
										s += '<%= image_tag 'ui/delete_icon.jpg', :alt => 'Eliminar', :title => 'Eliminar' %>';
									s += '</a>';
								s += '</td>';
							s += '</tr>';
						});
					s += '</tbody>';
					planes_container.html(s).hide().fadeIn(500);
					setTableActions({
						confirmation_message: 'El plan de estudios y sus alumnos serán eliminados',
						url: '<%= url_for :controller => :planes, :action => :delete %>',
						callback: function(response) {
							planes_pager.loadContents();
						}
					});
				}
			});
		});
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:title => 'Planes de estudio'} %>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>	
	<div id="content">
		<h2>Planes de Estudio</h2>
		<table class="custom_table" id="planes_container"></table>
	</div>
	<div class="clr"></div>
</div>

