<%= javascript_include_tag 'dialog' %>
<%= javascript_include_tag 'form' %>
<%= javascript_include_tag 'jumper' %>
<script type="text/javascript">
	(function(){		
		var semestres = ['Remediales','Primer semestre','Segundo semestre','Tercer semestre','Cuarto semestre','Quinto semestre','Sexto semestre','Séptimo semestre','Octavo semestre','Noveno semestre','Decimo semestre'];	
		var add_btn = null;
		var materias_container = null;		
		$(function(){
			materias_container = $('#materias_container');	
			materias_jumper = $.jumper({
				url:'<%= url_for :controller => :planes, :action => :list_materias %>',
				nav: $('#semestres_nav'),
				contents_container: materias_container,
				content_header: $('#content_header'),
				params:  {
					plan_id: '<%= @plan.id %>'
				},
				onResponse: function(data) {					
					var s = '';
					var semestre = -1;								
					s += '<tbody>';
					$.each(data.contents,function(key,materia){
						if(semestre != materia.planes_materia.semestre) {					
							semestre = materia.planes_materia.semestre;					
							materias_jumper.addToNav({
								name: semestres[materia.planes_materia.semestre],
								rel: 'semestre_'+ semestre
							});
							s += '<tr class="separator" id="semestre_' + semestre + '">';
								s += '<td colspan="3">' + semestres[materia.planes_materia.semestre] + '</td>';
							s += '</tr>';								 
						}
						s += '<tr>';
							s += '<td>' + materia.planes_materia.clave + '</td>';
							s += '<td>' + materia.planes_materia.nombre + '</td>';							
							s += '<td class="actions">';								
								s += '<a href="#" class ="delete_btn" id="' + materia.planes_materia.id + '">';
									s += '<%= image_tag 'ui/delete_icon.jpg', :alt => 'Eliminar', :title => 'Eliminar' %>';
								s += '</a>';
							s += '</td>';
						s += '</tr>';										
					});
					s += '</tbody>';
					materias_container.html(s).hide().fadeIn(500);			
					setTableActions({
						confirmation_message: 'La materia será eliminada del plan de estudios',
						url: '<%= url_for :controller => :planes_materias, :action => :delete %>',
						callback: function(response) {
							materias_jumper.doPost();
						}
					});
				}
			});			
			add_btn = $('#add_btn').click(function(e){
				e.preventDefault();
				var add_dialog = $.dialog({					
					ajax: true,
					title: 'Agregar materia',
					url: '<%= url_for :controller => :planes, :action => :add_materia %>',
					width: 435,
					onLoad: function(){						
						add_dialog.msg_container.find('#form_cancel_btn').click(function(e){
							e.preventDefault();
							add_dialog.destroy();
						});
						add_dialog.msg_container.find('#planes_materia_plane_id').val('<%= @plan.id %>');
						$.form({
							container: add_dialog.msg_container.find('#planes_materia_form').addClass('dialog_form'),
							onSuccess: function(){
								add_dialog.destroy();
								materias_jumper.doPost();
							}
						});
					}
				})
			});
		});
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:title => @plan.nombre} %>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
		<div class="hr_light_10"></div>		
		<div>
			<ul id="semestres_nav" class="sidebar_menu"></ul>
		</div>	
	</div>	
	<div id="content">
		<div id="content_header">
			<div id="content_header_left">
				<h2><%= @plan.nombre %></h2>	
			</div>
			<div id="content_header_right">
				<%= link_to 'Agregar materia', '#', :class => 'blue_btn', :id => 'add_btn'%>	
			</div>
			<div class="clr"></div>
		</div>		
		<table class="custom_table" id="materias_container"></table>		
	</div>
	<div class="clr"></div>
</div>
