<% id = id.nil? ? 0 : id %>
<div class="form">
	<%= form_for :carrera, :url => {:action => action, :id => id}, :html => {:id => 'carreras_form'} do |f| %>
		<div class="field first">
			<label>
				Nombre
			</label>
			<%= f.text_field :nombre %>
		</div>
		<div class="field last">
			<label>
				Siglas
			</label>
			<%= f.text_field :siglas %>
		</div>
		
		<div class="actions">
			<%= submit_tag 'Continuar', :class => 'blue_btn' %>
			<%= link_to 'Cancelar', 'javascript:window.history.back()', :class => 'blue_btn' %>
		</div>
	<% end %>
</div>