<ul class="sidebar_menu">
	<li><%= link_to 'Agregar carrera', :controller => :carreras, :action => :new %></li>
	<li><%= link_to 'Listar carreras', :controller => :carreras, :action => :index %></li>
</ul>