<%= javascript_include_tag 'pager' %>
<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		var carreras_container = null;
		var carreras_pager = null;
		$(function(){
			carreras_container = $('#carreras_container');
			carreras_pager = $.pager({
				contents_container: carreras_container,
				url: '<%= url_for :controller => :carreras, :action => :list %>',
				onResponse: function(contents){					
					var s = '';
					s += '<tbody>';
						$.each(contents,function(key,carrera){
							s += '<tr>';
								s += '<td>' + carrera.carrera.siglas + '</td>';
								s += '<td>'+ (carrera.carrera.nombre.length > 50 ? (carrera.carrera.nombre.substring(0,47) + '...') : carrera.carrera.nombre) + '</td>';
								s += '<td class="blue">'+ carrera.carrera.num_alumnos + ' alumnos</td>';
								s += '<td class="actions">';
									s += '<a href="<%= url_for :controller => :carreras, :action => :edit %>/' + carrera.carrera.id + '">';
										s+= '<%= image_tag 'ui/edit_icon.jpg', :alt => 'Editar', :title => 'Editar' %>';
									s += '</a>';
									s += '<a href="#" class ="delete_btn" id="' + carrera.carrera.id + '">';
										s += '<%= image_tag 'ui/delete_icon.jpg', :alt => 'Eliminar', :title => 'Eliminar' %>';
									s += '</a>';
								s += '</td>';
							s += '</tr>';
						});
					s += '</tbody>';
					carreras_container.html(s).hide().fadeIn(500);
					setTableActions({
						confirmation_message: 'La carrera, sus planes de estudio y alumnos serán eliminados',
						url: '<%= url_for :controller => :carreras, :action => :delete %>',
						callback: function(response) {
							carreras_pager.loadContents();
						}
					});
				}
			});
		});
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:title => 'Carreras'} %>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>	
	<div id="content">
		<h2>Carreras</h2>
		<table class="custom_table" id="carreras_container"></table>
	</div>
	<div class="clr"></div>
</div>