<% id = id.nil? ? 0 : id %>
<div class="form">
	<%= form_for :usuario, @alumno, :url => {:action => action, :id => id}, :html => {:id => 'alumnos_form'} do |f| %>
		<div class="field first">
			<label>
				Matricula
			</label>
			<%= f.text_field :username %>
		</div>
		<div class="field">
			<label>
				Nombre
			</label>
			<%= f.text_field :nombre %>
		</div>
		<div class="field">
			<label>
				Apellidos
			</label>
			<%= f.text_field :apellidos %>
		</div>		
		<div class="field">
			<label>
				Password
			</label>
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<label>
				Plan de estudios
			</label>
			<%= select :alumno, :plane_id, @planes, :prompt => true %>
		</div>
		<div class="field last">
			<label>
				Número de semestres para la regla
			</label>
			<%= select :alumno, :semestres_regla, @semestres_regla, :prompt => true %>
		</div>
		<div class="actions">
			<%= submit_tag 'Continuar', :class => 'blue_btn' %>
			<%= link_to 'Cancelar', 'javascript:window.history.back()', :class => 'blue_btn' %>
		</div>
	<% end %>
</div>
