<ul class="sidebar_menu">
    <li><%= link_to "Borrar &uacute;ltimo intento".html_safe, :controller => :alumnos, :action => :reset_predictions, :id => @alumno.id %></li>
    <li><%= link_to "Historia Acad&eacute;mica".html_safe, :controller => :alumnos, :action => :show, :id => @alumno.id %></li>
    <li><%= link_to "Pron&oacute;sticos".html_safe, :controller => :alumnos, :action => :pronosticos, :id => @alumno.id %></li>
</ul>
<div class="hr_light_10"></div>
