<ul class="sidebar_menu">
	<li><%= link_to 'Agregar alumno', :controller => :alumnos, :action => :new %></li>
	<li><%= link_to 'Buscar alumno', :controller => :alumnos, :action => :search %></li>
	<li><%= link_to 'Listar alumnos', :controller => :alumnos, :action => :index %></li>
</ul>
