<%= javascript_include_tag 'pager' %>
<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		var current_filter = null;
		var alumnos_pager = null;
		var alumnos_container = null;
		$(function(){
			current_filter = $('#current_filter');
			alumnos_container = $('#alumnos_container');
			alumnos_pager = $.pager({
				contents_container: alumnos_container,
				url: '<%= url_for :controller => :alumnos, :action => :list %>',
				onResponse: function(contents) {
					var s = '';
					s += '<tbody>';
						$.each(contents,function(key,alumno){
							s += '<tr>';
								s += '<td>' +'<a href="<%= url_for :controller => :alumnos, :action => :show%>/' + alumno.alumno.id + '">' + alumno.alumno.username + '</a></td>';
								s += '<td>' +'<a href="<%= url_for :controller => :alumnos, :action => :show%>/' + alumno.alumno.id + '">' + alumno.alumno.nombre + ' ' + alumno.alumno.apellidos + '</a></td>';
								s += '<td>' +'<a href="<%= url_for :controller => :admin, :action => :changetoalumno%>/' + alumno.alumno.id + '"> Login</a></td>';
								s += '<td class="actions">';
									s += '<a href="<%= url_for :controller => :alumnos, :action => :edit %>/' + alumno.alumno.id + '">';
										s+= '<%= image_tag 'ui/edit_icon.jpg', :alt => 'Editar', :title => 'Editar' %>';
									s += '</a>';
									s += '<a href="#" class ="delete_btn" id="' + alumno.alumno.id + '">';
										s += '<%= image_tag 'ui/delete_icon.jpg', :alt => 'Eliminar', :title => 'Eliminar' %>';
									s += '</a>';
								s += '</td>';
							s += '</tr>';
						});
					s += '</tbody>';
					alumnos_container.html(s).hide().fadeIn(500);
					setTableActions({
						confirmation_message: 'El alumno será eliminado',
						url: '<%= url_for :controller => :alumnos, :action => :delete %>',
						callback: function(response) {
							alumnos_pager.loadContents();
						}
					});
				}
			});
			$('.filter_btn').click(function(e){
				e.preventDefault();
				alumnos_pager.params = {
					plan_id: $(this).attr('id')
				};
				alumnos_pager.page = 0;
				alumnos_pager.loadContents();
				current_filter.text($(this).text());
			});
		});
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:title => 'Alumnos'} %>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
		<div class="hr_light_10"></div>
		<ul class="sidebar_menu">
			<li><%= link_to 'Todos', '#', :class => 'filter_btn' %></li>
			<% @planes.each do |plan| %>
				<li><%= link_to plan[0], '#', :id => plan[1], :class => 'filter_btn' %></li>
			<% end %>
		</ul>
	</div>
	<div id="content">
		<h2>Alumnos</h2>
		<div id="current_filter" class="blue">Todos</div>
		<% unless @user.is_director? %>
			<%= form_tag({controller: "materias_cursadas", action: "import"}, method: "post", multipart: true) do %>
				<%= file_field_tag :file, :class => 'grey_btn' %>
				<%= submit_tag "Importar", :class => 'grey_btn' %>
			<% end %>
		<% end %>
		<table class="custom_table" id="alumnos_container"></table>
	</div>
	<div class="clr"></div>
</div>
