<%= javascript_include_tag 'form' %>
<script type="text/javascript">
	(function(){
		$(function(){
			var add_form = $.form({
				container: $('#alumnos_form'),
				onSuccess: function() {					
					window.location = '<%= url_for :action => :index %>';
				}
			})
		});
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:title => 'Alumnos', :caption => 'Agregar un alumno'}%>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>	
	<div id="content">		
		<%= render :partial => 'form', :locals => {:action => 'create'} %>
	</div>
	<div class="clr"></div>
</div>