<%= javascript_include_tag 'dropdown' %>
<%= javascript_include_tag 'pager' %>
<script type="text/javascript">
	(function(){		
		var pronosticos_container = null;
		var pronosticos_pager = null;
		var semestre_dropdown = null;
		var selected_semestre = $('');
		$(function(){		
		    set_dropdown();			
				pronosticos_container = $('#pronosticos_container'); 	
            pronosticos_pager = $.pager({
                params: {
                    id: '<%= @alumno.id %>',
                    semestre_id:'<%= @semestre.id %>'
                },
				url: '<%= url_for :controller => :alumnos, :action => :list_pronosticos %>',
				contents_container: pronosticos_container,
				not_found: 'No se han realizado pronósticos',
				onResponse: function(contents) {
          var s = '';
					if (contents.length > 0) {
						s += '<tbody>';
						$.each(contents, function(key,pronostico){
							s += '<tr>';
							s += '<td>';
							s += pronostico.materia.clave;								
							s += '</td>';
							s += '<td>';
							s += pronostico.materia.nombre;
							s += '</td>';
							s += '</tr>';
						});
						s += '</tbody>';
					}
					else
						s += '<p>Programa internacional</p>';				
					pronosticos_container.html(s).hide().fadeIn(500);
				}
			});					
		});

		function set_dropdown() {
		  var html = '<ul class="dropdown_menu">';
		  <% @semestres.each do |semestre| %>
				html += '<li><a href="#" class="dropdown_link" value="'+ '<%= semestre.id %>' + '">' + '<%= semester_name semestre.fecha_inicio, semestre.fecha_fin %>' +'</a></li>';				
			<% end %>
			html += '</ul>';
			semestre_dropdown = $.dropdown({
				trigger: $('#semestre_btn'),
				triggerEvent: 'click',
				content: $(html),
				wrapper_css: {
				    display: 'inline-block'
				}
			});
			
			set_dropdown_links();			
		}
		
		function set_dropdown_links() {
		  semestre_dropdown.content.find('.dropdown_link').click(function(e){
		    selected_semestre.removeClass('blue');
		    e.preventDefault();
		    pronosticos_pager.params = $.extend(pronosticos_pager.params, {
		      'semestre_id': $(this).attr('value')
		    });
            selected_semestre = $(this).addClass('blue');
            semestre_dropdown.trigger.text(selected_semestre.text());
		    pronosticos_pager.loadContents();
		    semestre_dropdown.hideContainer();
		  });
		}
		
		
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:caption => @alumno.usuario.apellidos, :title => @alumno.usuario.nombre}%>
<div id="main_content">
    <div id="sidebar">
        <%= render :partial => 'member_sidebar_menu' %>
        <%= render :partial => 'sidebar_menu' %>    
    </div>
    <div id="content">
        <div id="content_header">
			<div id="content_header_left">
				<h2>Pron&oacute;sticos</h2>
			</div>
			<div id="content_header_right">
				<%= link_to semester_name(@semestre.fecha_inicio, @semestre.fecha_fin), '#', :class => 'grey_btn', :id => 'semestre_btn' %>				
			</div>
			<div class="clr"></div>
		</div>
		<table class="custom_table" id="pronosticos_container"></table>			
    	<div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
