<%= javascript_include_tag 'jumper' %>
<%= javascript_include_tag 'dropdown' %>
<script type="text/javascript">
	
	(function(){
		var status = ['Cursando','Aprobada','Programa internacional'];	
		var semestres = ['Remediales','Primer semestre','Segundo semestre','Tercer semestre','Cuarto semestre','Quinto semestre','Sexto semestre','Séptimo semestre','Octavo semestre','Noveno semestre','Decimo semestre'];
		var materias_jumper = null;
		var materias_container = null;		
		var status_dropdown = null;
		var checked_items = [];
		$(function(){			
			materias_container = $('#materias_container');
			var c = '<ul class="dropdown_menu">';
			<% @status.each do |status| %>
				c += '<li><a href="#" class="dropdown_link" value="'+ '<%= status[1] %>' + '">' + '<%= status[0] %>' +'</a></li>';				
			<% end %>
				c += '<li><a href="#" class="dropdown_link" value="null">Sin cursar</a></li>';						
			c += '</ul>';
			status_dropdown = $.dropdown({
				trigger: $('#status_btn'),
				triggerEvent: 'click',
				content: $(c)
			});
			status_dropdown.content.find('.dropdown_link').click(function(e){
				e.preventDefault();	
				status_dropdown.hideContainer();			
				var status = $(this).attr('value');
				checked_items = [];
				materias_container.find('input[type="checkbox"].checked').each(function(){
					checked_items.push($(this).val());
				});				
				$.post(
					'<%= url_for :controller => :materias_cursadas, :action => :update %>',
					{
						'status': status,
						'checked_items': checked_items,
						'alumno_id': '<%= @alumno.id %>'
					},
					function(data) {
						materias_jumper.doPost();	
					}
				);
			});				
			materias_jumper = $.jumper({
				contents_container: materias_container,
				content_header: $('#content_header'),
				nav: $('#semestres_nav'),
				url: '<%= url_for :controller => :alumnos, :action => :list_materias %>',
				params: {
					alumno_id: '<%= @alumno.id %>',
					plan_id: '<%= @alumno.plane_id %>'
				},
				onResponse: function(data){
					var materias = data.contents;
					var s = '';
					var semestre = -1;
					s += '<tbody>';
					$.each(materias,function(key,materia){
						if(semestre != materia.materia.semestre) {
							semestre = materia.materia.semestre;					
							materias_jumper.addToNav({
								name: semestres[materia.materia.semestre],
								rel: 'semestre_'+ semestre
							});
							s += '<tr class="separator" id="semestre_' + semestre + '">';
								s += '<td colspan="4">' + semestres[materia.materia.semestre] + '</td>';
							s += '</tr>';														 
						}
						s += '<tr>';
							s += '<td><input type="checkbox" value="' + materia.materia.id +'" class="materia_checkbox"/></td>';  							
							s += '<td>' + materia.materia.clave + '</td>';							
							if(materia.materia.status_materia || materia.materia.status_materia == 0) {
								s += '<td>' + materia.materia.nombre + '</td>';
								s += '<td class="blue">' + status[materia.materia.status_materia] + '</td>';									
							}							
							else {
								s += '<td colspan="2">' + materia.materia.nombre + '</td>';
							}
						s += '</tr>';						
					});
					s += '</tbody>';
					materias_container.html(s).hide().fadeIn(500);
					materias_container.find('.materia_checkbox').change(function(e){
						if($(this).is(':checked')) {
							$(this).addClass('checked');
							$(this).parent().parent().addClass('selected_row');							
						}
						else {							
							$(this).removeClass('checked');
							$(this).parent().parent().removeClass('selected_row');
						}
					});					
				}				
			});						
		});
	})(jQuery);
</script>

<%= render :partial => 'shared/main_header', :locals => {:caption => @alumno.usuario.username, :title => "#{@alumno.usuario.nombre} #{@alumno.usuario.apellidos}"}%>
<div id="main_content">
	<div id="sidebar">	
    	<%= render :partial => 'member_sidebar_menu' %>
		<%= render :partial => 'sidebar_menu' %>
		<div class="hr_light_10"></div>
		<div><ul id="semestres_nav" class="sidebar_menu"></div>
	</div>	
	<div id="content">		
		<div id="content_header">
			<div id="content_header_left">
				<h2>Historia Académica</h2>
			</div>
			<div id="content_header_right">			
				<%= link_to 'Status', '#', :class => 'grey_btn', :id => 'status_btn' %>				
			</div>
			<div class="clr"></div>
		</div>
		<table class="custom_table" id="materias_container"></table>			
	</div>
	<div class="clr"></div>
</div>
