<%= javascript_include_tag 'jquery-ui' %>
<%= stylesheet_link_tag 'jquery-ui' %>
<script type="text/javascript">
	(function(){
		$(function(){
			$('input.date_input').datepicker({
				dateFormat: 'yy-mm-dd',
				changeYear: true,
				changeMonth: true
			});
		});
	})(jQuery);
</script>
<% id = id.nil? ? 0 : id %>
<div class="form">
	<%= form_for :semestre, :url => {:action => action, :id => id}, :html => {:id => 'semestres_form'} do |f| %>
		<div class="field first">
			<label>
				Fecha de inicio
			</label>
			<%= f.text_field :fecha_inicio, :class => 'date_input' %>
		</div>
		<div class="field last">
			<label>
				Fecha fin
			</label>
			<%= f.text_field :fecha_fin, :class => 'date_input' %>
		</div>
		
		<div class="actions">
			<%= submit_tag 'Continuar', :class => 'blue_btn' %>
			<%= link_to 'Cancelar', 'javascript:window.history.back()', :class => 'blue_btn' %>
		</div>
	<% end %>
</div>