<ul class="sidebar_menu">
	<li><%= link_to 'Agregar semestre', :controller => :semestres, :action => :new %></li>
	<li><%= link_to 'Listar semestres', :controller => :semestres, :action => :index %></li>
</ul>