<%= javascript_include_tag 'pager' %>
<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		var semestres_container = null;
		var semestres_pager = null;
		$(function(){
			semestres_container = $('#semestres_container');
			semestres_pager = $.pager({
				contents_container: semestres_container,
				url: '<%= url_for :controller => :semestres, :action => :list %>',
				onResponse: function(contents){					
					var s = '';
					s += '<tbody>';
						$.each(contents,function(key,semestre){
							s += '<tr>';
								s += '<td>' + nombre_semestre(semestre.semestre.fecha_inicio, semestre.semestre.fecha_fin) + '</td>';
								s += '<td>' + date_format(semestre.semestre.fecha_inicio) + '</td>';
								s += '<td>' + date_format(semestre.semestre.fecha_fin) + '</td>';								
								s += '<td class="actions">';
									s += '<a href="<%= url_for :controller => :semestres, :action => :edit %>/' + semestre.semestre.id + '">';
										s+= '<%= image_tag 'ui/edit_icon.jpg', :alt => 'Editar', :title => 'Editar' %>';
									s += '</a>';
									s += '<a href="#" class ="delete_btn" id="' + semestre.semestre.id + '">';
										s += '<%= image_tag 'ui/delete_icon.jpg', :alt => 'Eliminar', :title => 'Eliminar' %>';
									s += '</a>';
								s += '</td>';
							s += '</tr>';
						});
					s += '</tbody>';
					semestres_container.html(s).hide().fadeIn(500);
					setTableActions({
						confirmation_message: 'El semestre y los pronósticos asociados con este serán eliminados',
						url: '<%= url_for :controller => :semestres, :action => :delete %>',
						callback: function(response) {
							semestres_pager.loadContents();
						}
					});
				}
			});
			function nombre_semestre(fecha_inicio,fecha_fin) {
				var s = '';
				var a_inicio = fecha_inicio.split('-');				
				var a_fin = fecha_fin.split('-');
				s = months[a_inicio[1]-1] + ' - ' + months[a_fin[1]-1] + ' ' + a_inicio[0];
				return s;
			}
			
		});
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:title => 'Semestres'} %>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>	
	<div id="content">
		<h2>Semestres</h2>
		<table class="custom_table" id="semestres_container"></table>
	</div>
	<div class="clr"></div>
</div>