<%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos', :caption => semester_name(@semestre.fecha_inicio, @semestre.fecha_fin)}%>
<div id="main_content">
	<div id="sidebar" class="large">
		<h2>Participación</h2>
		<div id="stats">
			<% if @stats.any? %>
				<% @stats.each_pair do |key, value| %>
					<div class="stat">
						<%= key %><span><%= value %></span>
						<div class="clr"></div>
					</div>
				<% end %>
			<% else %>
				<p>No se han realizado pronosticos para el semestre <%= semester_name @semestre.fecha_inicio, @semestre.fecha_fin %></p>
			<% end %>			
		</div>			
		
	</div>
	<div id="content" class="small">
	    <%= render :partial => 'pronosticos/pending_students' %>	
	</div>
	<div class="clr"></div>
</div>

