<div id="content_header">
    <div id="content_header_left">
	    <h2>Alumnos sin pron&oacute;sticos</h2>
    </div>
    <div id="content_header_right">
        <% if @pending_students.any? %>
            <%= link_to 'Descargar CSV', url_for(:controller => :alumnos, :action => :download_pending_predictions_csv, :semestre_id => @semestre.id), :class => 'blue_btn' %>
        <% end %>
    </div>
    <div class="clr"></div>
</div>

<% if @pending_students.any? %>
    <table class="custom_table">
        <% @pending_students.each do |alumno| %>
            <tr>
                <td><%= alumno.usuario.username %></td>
                <td><%= alumno.usuario.full_name %></td>
                <td><a href="<%= url_for :controller => :admin, :action => :changetoalumno%>/<%= alumno.id %>"> Login</a></td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p> Todos han registrado sus pronosticos para el semestre <%= semester_name @semestre.fecha_inicio, @semestre.fecha_fin %></p>
<% end %>
