<ul class="sidebar_menu">	
	<li>
		<%= link_to 'Listar pronosticos', :controller => :pronosticos, :action => :index %>
	</li>
	<li>
	  <%= link_to 'Alumnos sin pronosticos', :controller => :pronosticos, :action => :pending_students %>
	</li>
	<li>
    <%= link_to 'Pronosticos incompletos', :controller => :pronosticos, :action => :incomplete_students %>
  </li>
	<li>
    <%= link_to 'Programas internacionales', :controller => :pronosticos, :action => :international_programs %>
	</li>
	<li>
    <%= link_to 'Candidatos a graduar', :controller => :pronosticos, :action => :candidates %>
	</li>
</ul>			
