<%= javascript_include_tag 'dropdown' %>
<%= javascript_include_tag 'pager' %>
<script type="text/javascript">
	(function(){
		var current_filter = null;
		var candidatos_container = null;
		var candidatos_pager = null;
		var semestre_dropdown = null;
		var selected_semestre = $('');
		$(function(){		
		    set_dropdown();
			current_filter = $('#current_filter');		
			candidatos_container = $('#candidatos_container');		
            candidatos_pager = $.pager({
				url: '<%= url_for :controller => :pronosticos, :action => :list_candidatos %>',
				contents_container: candidatos_container,
				not_found: 'No hay candidatos a graduar',
				onResponse: function(contents) {
                    var s = '';
					s += '<tbody>';
					$.each(contents, function(key,alumno){
						s += '<tr>';
							s += '<td>';
								s += '<a href="<%= url_for :controller => :alumnos, :action => :show %>/' + alumno.alumno.id + '">' + alumno.alumno.username + '</a>';								
							s += '</td>';
							s += '<td>';
								s += '<a href="<%= url_for :controller => :alumnos, :action => :show %>/' + alumno.alumno.id + '">' + alumno.alumno.nombre + ' ' + alumno.alumno.apellidos + '</a>';
							s += '</td>';
						s += '</tr>';
					});
					s += '</tbody>';					
					candidatos_container.html(s).hide().fadeIn(500);
				}
			});
			$('.filter_btn').click(function(e){
				e.preventDefault();
				candidatos_pager.params = {
					plan_id: $(this).attr('id')
				};				
				candidatos_pager.loadContents();
				current_filter.text($(this).text());
			});		
		});
		
		function set_dropdown() {
		  var html = '<ul class="dropdown_menu">';
		  <% @semestres.each do |semestre| %>
				html += '<li><a href="#" class="dropdown_link" value="'+ '<%= semestre.id %>' + '">' + '<%= semester_name semestre.fecha_inicio, semestre.fecha_fin %>' +'</a></li>';				
			<% end %>
			html += '</ul>';
			semestre_dropdown = $.dropdown({
				trigger: $('#semestre_btn'),
				triggerEvent: 'click',
				content: $(html),
				wrapper_css: {
				    display: 'inline-block'
				}
			});
			
			set_dropdown_links();			
		}
		
		function set_dropdown_links() {
		  semestre_dropdown.content.find('.dropdown_link').click(function(e){
		    selected_semestre.removeClass('blue');
		    e.preventDefault();
		    candidatos_pager.params = $.extend(candidatos_pager.params, {
		      'semestre_id': $(this).attr('value')
		    });
				$('#csv_btn').attr('href', '/alumnos/download_candidates_csv?semestre_id=' + $(this).attr('value'));
        selected_semestre = $(this).addClass('blue');
        semestre_dropdown.trigger.text(selected_semestre.text());
		    candidatos_pager.loadContents();
		    semestre_dropdown.hideContainer();
		  });
		}
		
		
	})(jQuery);
</script>
<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Candidatos', :caption => 'a graduar'}%>
</div>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
		<div class="hr_light_10"></div>
		<ul class="sidebar_menu">
			<li><%= link_to 'Todos', '#', :class => 'filter_btn' %></li>
			<% @planes.each do |plan| %>
				<li><%= link_to plan[0], '#', :id => plan[1], :class => 'filter_btn' %></li>
			<% end %>
		</ul>
	</div>
	<div id="content">
        <div id="content_header">
			<div id="content_header_left">
				<h2>Candidatos a graduar</h2>	
				<div id="current_filter" class="blue">Todos</div>
			</div>
			<div id="content_header_right">     			
				<%= link_to 'Semestre', '#', :class => 'grey_btn', :id => 'semestre_btn' %>
				<a href="<%= url_for(:controller => :alumnos, :action => :download_candidates_csv, :semestre_id => @semestre.id) %>" class="blue_btn" id="csv_btn">Descargar CSV</a>			
			</div>
			<div class="clr"></div>
		</div>	

		<table class="custom_table" id="candidatos_container"></table>
	</div>
	<div class="clr"></div>
</div>
