<div id="main_header">
    <%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos', :caption => 'Incompletos'}%>
</div>
<div id="main_content">
    <div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>
	<div id="content">
	    <div id="content_header">
            <div id="content_header_left">
	            <h2>Pronosticos incompletos</h2>
            </div>
            <div id="content_header_right">
                <% if @incomplete_students.any? %>
                    <%= link_to 'Descargar CSV', url_for(:controller => :alumnos, :action => :download_incomplete_predictions_csv, :semestre_id => @semestre.id), :class => 'blue_btn' %>				
                <% end %>
            </div>
            <div class="clr"></div>
        </div>

	
    	<% if @incomplete_students.any? %>
		    <p> Lista de alumnos que pronosticaron menos de <%= Pronostico::MinNumberPerSemester %> materias</p>
            <table class="custom_table">                
                <% @incomplete_students.each do |alumno| %>
                    <tr>
                        <td><%= alumno.usuario.username %></td>
                        <td><%= alumno.usuario.full_name %></td>
                        <td><span class="blue bigger bold"><%= alumno.number_of_predictions_for(@semestre.id) %></span></td>
                    </tr>
                <% end %>
            </table>
        <% else %>
            <p> Todos los alumnos pronosticaron <%= Pronostico::MinNumberPerSemester %> o m&aacute;s materias</p>
        <% end %>    
	</div>
	<div class="clr"></div>
</div>
