<%= javascript_include_tag 'dropdown' %>
<%= javascript_include_tag 'pager' %>
<script type="text/javascript">
	(function(){
		var current_filter = null;
		var pronosticos_container = null;
		var pronosticos_pager = null;
		var semestre_dropdown = null;
		var selected_semestre = $('');
		$(function(){		
		    set_dropdown();
			current_filter = $('#current_filter');		
			pronosticos_container = $('#pronosticos_container');		
            pronosticos_pager = $.pager({
				url: '<%= url_for :controller => :pronosticos, :action => :list_pronosticos %>',
				contents_container: pronosticos_container,
				not_found: 'No se han realizado pronosticos',
				onResponse: function(contents) {
                    var s = '';
					s += '<tbody>';
					$.each(contents, function(key,pronostico){
						s += '<tr>';
							s += '<td>';
								s += '<a href="<%= url_for :controller => :pronosticos, :action => :show %>/' + pronostico.pronostico.materia_id + '">' + pronostico.pronostico.clave + '</a>';								
							s += '</td>';
							s += '<td>';
								s += '<a href="<%= url_for :controller => :pronosticos, :action => :show %>/' + pronostico.pronostico.materia_id + '">' + pronostico.pronostico.nombre + '</a>';
							s += '</td>';
							s += '<td>';
								s += '<a class="blue bigger bold" href="<%= url_for :controller => :pronosticos, :action => :show %>/' + pronostico.pronostico.materia_id + '">' + pronostico.pronostico.num + '</a>';
							s += '</td>';														

						s += '</tr>';
					});
					s += '</tbody>';					
					pronosticos_container.html(s).hide().fadeIn(500);
				}
			});
			$('.filter_btn').click(function(e){
				e.preventDefault();
				pronosticos_pager.params = {
					plan_id: $(this).attr('id')
				};				
				pronosticos_pager.loadContents();
				current_filter.text($(this).text());
			});		
		});
		
		function set_dropdown() {
		  var html = '<ul class="dropdown_menu">';
		  <% @semestres.each do |semestre| %>
				html += '<li><a href="#" class="dropdown_link" value="'+ '<%= semestre.id %>' + '">' + '<%= semester_name semestre.fecha_inicio, semestre.fecha_fin %>' +'</a></li>';				
			<% end %>
			html += '</ul>';
			semestre_dropdown = $.dropdown({
				trigger: $('#semestre_btn'),
				triggerEvent: 'click',
				content: $(html),
				wrapper_css: {
				    display: 'inline-block'
				}
			});
			
			set_dropdown_links();			
		}
		
		function set_dropdown_links() {
		  semestre_dropdown.content.find('.dropdown_link').click(function(e){
		    selected_semestre.removeClass('blue');
		    e.preventDefault();
		    pronosticos_pager.params = $.extend(pronosticos_pager.params, {
		      'semestre_id': $(this).attr('value')
		    });
        selected_semestre = $(this).addClass('blue');
        semestre_dropdown.trigger.text(selected_semestre.text());
		    pronosticos_pager.loadContents();
		    semestre_dropdown.hideContainer();
		  });
		}
		
		
	})(jQuery);
</script>
<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos'}%>
</div>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
		<div class="hr_light_10"></div>
		<ul class="sidebar_menu">
			<li><%= link_to 'Todos', '#', :class => 'filter_btn' %></li>
			<% @planes.each do |plan| %>
				<li><%= link_to plan[0], '#', :id => plan[1], :class => 'filter_btn' %></li>
			<% end %>
		</ul>
	</div>
	<div id="content">
        <div id="content_header">
			<div id="content_header_left">
				<h2>Pron&oacute;sticos</h2>	
				<div id="current_filter" class="blue">Todos</div>
			</div>
			<div id="content_header_right">     			
				<%= link_to 'Semestre', '#', :class => 'grey_btn', :id => 'semestre_btn' %>				
				<%= link_to 'Descargar CSV', url_for(:controller => :pronosticos, :action => :download_csv), :class => 'blue_btn' %>				
			</div>
			<div class="clr"></div>
		</div>	

		<table class="custom_table" id="pronosticos_container"></table>
	</div>
	<div class="clr"></div>
</div>
