<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		var materias_container;		
		var continue_btn;
		var checked_items;
		var checked_items_number = 0;
		var max_items = <%= @max_items %>;
		$(function(){
			materias_container = $('#materias_container');
			continue_btn = $('#continue_btn').click(function(e){
				e.preventDefault();
				checked_items = [];
				materias_container.find('input[type="checkbox"].checked').each(function(){
					checked_items.push($(this).val());
				});
				$.post(
					'<%= url_for :controller => :pronosticos, :action => :create %>',
					{						
						'checked_items': checked_items,
						'alumno_id': '<%= @alumno.id %>'						
					},
					function(data) {
						if(data.success) {
							alert('Success!');
						}	
						else {
							$.dialog({
								'title': 'Oops!',
								'msg': 'Se ha producido un error, intenta más tarde	'
							});
						}
					}
				);
				
			});
			materias_container.find('.materia_checkbox').change(function(e){				
				if($(this).is(':checked') && checked_items_number < max_items) {
					++checked_items_number;
					$(this).addClass('checked');
					$(this).parent().parent().addClass('selected_row');							
				}
				else if(!$(this).is(':checked')){
					--checked_items_number;							
					$(this).removeClass('checked');
					$(this).parent().parent().removeClass('selected_row');
				}
				else {
					$(this).attr('checked',false);
					$.dialog({
						title: 'Error',
						msg: 'Por favor selecciona hasta ' + max_items + ' materias',
						min_height: 100
					});
				}				
			});
		});
	})(jQuery);
</script>
<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos'}%>
</div>
<div id="main_content">	
	<div id="sidebar">
		<h3 class="blue">Instrucciones</h3>
		<p class="guidelines">
			A la derecha encontrarás una lista de las materias que podrías cursar
			el siguiente semestre, dependiendo de tu historial académico y de acuerdo a 
			la regla de los 3 semestres. 
		</p><br />		
		<p class="guidelines">
			Por favor selecciona hasta <%= @max_items %> materias y presiona continuar.						
		</p>
		<div class="hr_light_10"></div>
		<h3 class="blue">Notas</h3>
		<p class="guidelines">
			Las materias que pronostiques no necesariamente serán las que curses el
			siguiente semestre, esto sólo nos ayuda a determinar qué materias abrir.
		</p>
	</div>
	<div id="content">
		<div id="content_header">
			<div id="content_header_left">
				<h2>Pronósticos</h2>
			</div>
			<div id="content_header_right">
				<%= link_to 'Continuar', '#', :class => 'blue_btn', :id => 'continue_btn' %>
			</div>
			<div class="clr"></div>
		</div>
		
				
		<table class="custom_table" id="materias_container">
			<tbody>
				<% semestre = -1 %>
				<% @materias.each do |materia| %>
					<% if materia.semestre_for(@alumno.plane_id) != semestre %>
						<% semestre = materia.semestre_for(@alumno.plane_id) %>
						<tr class="separator">
							<td colspan="3"><%= semestre_text semestre %></td>
						</tr>
					<% end %>
					<tr>
						<td><%= check_box_tag materia.id, materia.id, false, {:class => :materia_checkbox	} %></td>
						<td><%= materia.clave %></td>
						<td><%= materia.nombre %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="clr"></div>
</div>
			
