<div id="main_header">
    <%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos', :caption => 'Incompletos'}%>
</div>
<div id="main_content">
    <div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>
	<div id="content">
	    <%= render :partial => 'pending_students' %>	  
	</div>
	<div class="clr"></div>
</div>
