<%= javascript_include_tag 'search_bar' %>
<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		$(function(){
			var search_btn = $('#search_bar_btn').click(function(e){
				e.preventDefault();
				search_bar.doPost();
			});
			var search_bar = $.search_bar({
				container: $('#search_bar_wrapper'),
				url: '<%= url_for :controller => :pronosticos, :action => :list_by_materia %>',
				placeholder: 'Escribe la clave o nombre de la materia',
				results_container: $('#results_container'),
				onResponse: function(data) {
					s = '<table id="materias_container" class="custom_table">';
					s += '<tbody>';
					$.each(data, function(key, materia){
						s += renderRow(materia);
					});
					s += '</tbody>';
					s += '</table>';
					search_bar.results_container.html(s).hide().fadeIn(500);
				}
			});
		});
		function renderRow(pronostico) {
		  var s = '<tr>';
      s += '<td>';
			s += '<a href="<%= url_for :controller => :pronosticos, :action => :show %>/' + pronostico.pronostico.materia_id + '">' + pronostico.pronostico.clave + '</a>';								
			s += '</td>';
			s += '<td>';
			s += '<a href="<%= url_for :controller => :pronosticos, :action => :show %>/' + pronostico.pronostico.materia_id + '">' + pronostico.pronostico.nombre + '</a>';
			s += '</td>';
			s += '<td>';
			s += '<a class="blue bigger bold" href="<%= url_for :controller => :pronosticos, :action => :show %>/' + pronostico.pronostico.materia_id + '">' + pronostico.pronostico.num + '</a>';
			s += '</td>';
		  s += '</tr>';
				
			return s;
		}
	})(jQuery);
</script>

<%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos', :caption => 'Por materia'}%>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>	
	<div id="content">		
		<div id="search_bar_wrapper"></div>
		<div id="search_bar_btn"><%= image_tag 'ui/search_icon.png'%></div>
		<div class="clr"></div>
		<div id="results_container"></div>		
	</div>
	<div class="clr"></div>
</div>
