<%= javascript_include_tag 'pager' %>
<%= javascript_include_tag 'dropdown' %>
<script type="text/javascript">
  (function(){
		var current_filter = null;
		var alumnos_container = null;
		var alumnos_pager = null;
		var semestre_dropdown = null;
		var selected_semestre = $('');
		$(function(){		
		  set_dropdown();
			current_filter = $('#current_filter');		
			alumnos_container = $('#alumnos_container');		
      alumnos_pager = $.pager({
				url: '<%= url_for :controller => :pronosticos, :action => :list_alumnos %>',
				contents_container: alumnos_container,
				not_found: 'Nadie ha pronosticado esta materia',
				params: {
				  'materia_id': '<%= @materia.id %>'
				},
				onResponse: function(contents) {
          var s = '';
					s += '<tbody>';
					$.each(contents, function(key,pronostico){
						s += '<tr>';
							s += '<td class="short_cell">';
								s += '<a href="<%= url_for :controller => :alumnos, :action => :show %>/' + pronostico.pronostico.alumno_id + '">' + pronostico.pronostico.username + '</a>';								
							s += '</td>';
							s += '<td>';
								s += '<a href="<%= url_for :controller => :alumnos, :action => :show %>/' + pronostico.pronostico.alumno_id + '">' + pronostico.pronostico.nombre + ' ' + pronostico.pronostico.apellidos + '</a>';
							s += '</td>';
						s += '</tr>';
					});
					s += '</tbody>';					
					alumnos_container.html(s).hide().fadeIn(500);
				}
			});			
		});
		
		function set_dropdown() {
		  var html = '<ul class="dropdown_menu">';
		  <% @semestres.each do |semestre| %>
				html += '<li><a href="#" class="dropdown_link" value="'+ '<%= semestre.id %>' + '">' + '<%= semester_name semestre.fecha_inicio, semestre.fecha_fin %>' +'</a></li>';				
			<% end %>
			html += '</ul>';
			semestre_dropdown = $.dropdown({
				trigger: $('#semestre_btn'),
				triggerEvent: 'click',
				content: $(html)
			});
			
			set_dropdown_links();
		}
		
		function set_dropdown_links() {
		  semestre_dropdown.content.find('.dropdown_link').click(function(e){
		    selected_semestre.removeClass('blue');
		    e.preventDefault();
		    alumnos_pager.params = $.extend(alumnos_pager.params, {
		      'semestre_id': $(this).attr('value')
		    });
        selected_semestre = $(this).addClass('blue');
        semestre_dropdown.trigger.text(selected_semestre.text());
		    alumnos_pager.loadContents();
		    semestre_dropdown.hideContainer();
		  });
		}
		
		
	})(jQuery);
</script>


<%= render :partial => 'shared/main_header', :locals => {:title => @materia.nombre} %>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>	
	<div id="content">
		<div id="content_header">
			<div id="content_header_left">
				<h2><%= @materia.nombre %></h2>	
				<div id="current_filter" class="blue"></div>
			</div>
			<div id="content_header_right">
				<%= link_to 'Semestre', '#', :class => 'grey_btn', :id => 'semestre_btn'%>	
			</div>
			<div class="clr"></div>
		</div>		
		<table class="custom_table" id="alumnos_container"></table>		
	</div>
	<div class="clr"></div>
</div>
