/*=============================
 *      	Layout
  =============================*/

#main {
	margin: 20px 0;
	color: #333333;	
}

#footer {
	height: 65px;
	background-color: #061624;
}


/*=============================
 *       Header styles
  =============================*/

#nav {
	height: 50px;	
}

#header_top {
	height: 34px;
	background-color: #061624;
}

#user_info {
	color: #FFFFFF;
	float: right;
	text-transform: uppercase;
	font-size: 10px;
	margin: 7px 0;
}

#user_info a {
	text-decoration: none;
	color: #008CFF;
}

#logo {
	margin: 15px 0;
}

/*=============================
 *      Navigation styles
  =============================*/

#nav .wrapper {
	background-color: #061624;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	height: 50px;
}

#nav ul {
	list-style: none;	
}

#nav li {
	padding: 15px 25px;
	display: block;
	float: left;
	height: 20px;
	border-right: 1px solid #0B253E;
	border-left: 1px solid #030D16;		
}

#nav li a {
	color: #008CFF;
	text-decoration: none;
	font-size: 14px;
}

#nav li.first {
	border-radius: 6px 0 0 6px;
	border-left: none;
}

#nav li.last {
	border-right: none;
}

#nav li:hover {
	background: #008CFF;
}

#nav li:hover a {
	color: #FFFFFF;
}

/*=============================
 *        Main styles
  =============================*/
  
#main .wrapper {
	background: #FFFFFF;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	min-height: 400px;
}

#main_header {
	height: 122px;
	width: 950px;
	background-color: #008CFF;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;	
}

#header_left {
	background: url('../images/ui/main_header_bg.jpg') no-repeat left bottom;
	height: 122px;
	width: 400px;
	float: left;
}

#header_right {
	height: 82px;
	width: 520px;
	float: left;
	color: #FFFFFF;
	text-align: right;
	padding-top: 40px;
	padding-right: 30px;	
}

#header_right .big {
	font-size: 42px;
}

#header_right .medium {
	font-size: 24px;
}

#main_content {
	padding: 20px 20px 30px 20px;
}

#sidebar {
	width: 195px;
	float: left;
}

#sidebar.large {
	width: 250px;
}
#content.small {
	width: 624px;
}

#content {
	padding-left: 35px; 
	min-height: 230px;
	width: 679px;
	float: left;
	border-left: 1px solid #CCCCCC;
}
#content_header {
	width: 550px;
	background-color: #FFF;
	padding: 10px 0;
}
#content_header_left {
	float: left;
}
#content_header_right {
	float: right;
}

/*=============================
 *      Sidebar styles
  =============================*/ 
#sidebar h3 {
	font-size: 16px;
	margin-bottom: 8px;		
}

ul.sidebar_menu {
	list-style: none;
}
ul.sidebar_menu li {
	padding: 8px 10px;
}

ul.sidebar_menu li a {
	font-size: 14px;
	text-decoration: none;
	color: #333333;	
}

ul.sidebar_menu li:hover {
	background-color: #F9F9F9;
}

ul.sidebar_menu li:hover a {
	color: #008CFF;
}

/*=============================
 *     Main content styles
  =============================*/
  
#content h2, #sidebar h2 {
	font-size: 28px;
	line-height: 100%;
}

#content h3 {
	font-size: 20px;
	line-height: 100%;
}

/*=============================
 *       Stat styles
  =============================*/
  
#stats {
	margin: 15px 0;
}
#stats .stat {
	font-size: 20px;
	padding: 10px 10px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #EAEAEA;
}
.stat span {
	float: right;	
	font-weight: bold;
	color: #555;
	text-shadow: 1px 0 1px #FFF;
	font-size: 24px;
}


/*=============================
 *       Table styles
  =============================*/
  
table.custom_table {
	border-collapse: collapse;
	width: 550px;
	margin: 25px 0;
}

table.custom_table tr {
	background: #F9F9F9;
	border-bottom: 1px solid #CCCCCC;
}

table.custom_table tr:hover {
	background-color: #fcfcfc;
}

table.custom_table td {	
	padding: 10px 10px; 
}

table.custom_table td.short_cell {
  max-width: 15px;
}

table.custom_table td.actions {
	min-width: 100px;
	text-align: right;
	vertical-align: middle;
}

table.custom_table td.actions a {
	text-decoration: none;
	color: #333333;
}

table.custom_table td.actions img {
	margin: 0 2px;
}
table.custom_table td a {
	text-decoration: none;
	color: #333333;
}
table.custom_table td a:hover {
	text-decoration: underline;
}
table.custom_table tr.separator td {
	background-color: #0B253E;	
	color: #FFFFFF;	
	padding: 3px 10px;
}
table.custom_table tr.selected_row td {
	background-color: #ffffc2;
}


/*=============================
 *      Form styles
  =============================*/
.form {
	background-color: #F3f3f3;
	padding: 20px 30px;
	width: 460px;
}

.field {
	margin: 20px 0px;
}

.field, .form .actions {	
	width: 410px; 
}

.field label {
	font-size: 16px;
	display: block;
	color: #666666;
	margin-bottom: 10px;
}

.field.first {
	margin-top: 0;
}

.field.last {
	padding-bottom: 30px;
	margin-bottom: 0;
	border-bottom: 1px solid #CCCCCC;
}

.field input, .field textarea {
	border: 1px solid #CCCCCC;
	height: 25px;
	width: 400px;
	padding-left: 5px;
	font-size: 12px;
}

.field input:focus, .field textarea:focus {
	box-shadow: 0 0 10px rgb(204,204,204);
}

.form .actions {
	padding: 20px 0 0 0;
	text-align: right;
	border-top: 1px solid #FFFFFF;
	vertical-align: middle;
}

.form_error_notice {
	background: #FFC6CA;
	border: 1px solid #EFB9C3;
	width: 400px;
	margin-bottom: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 10px;
	color: #666666;
}
.form_error_notice b {
	font-weight: bold;
	font-style:italic;
	text-transform: capitalize; 
}
/*=============================
 *      Dialog styles
  =============================*/
.dialog_message_container {
	font: 12px/150% Arial, Helvetica, sans-serif;
}
.dialog_header {
	padding: 10px 15px;	  
}
.dialog_header h2 {
	color: #008CFF;
	font-size: 20px;
}
.dialog_body {
	padding: 5px 15px;
}
.dialog_title {
	float: left;
}
.dialog_close {
	cursor: pointer;
	float: right;
}
.dialog_actions {
	position: absolute;
	bottom: 20px;
	right: 10px;
	text-align: right;
}
.dialog_actions a {
	margin: 0 3px;
}
/*=============================
 *      Pager styles
  =============================*/
.pager_loader {
	margin: 20px 0;
	text-align: center;
}

.pager_nav {
	text-align: right;
}

.pager_nav span {
	cursor: pointer;
	color: #008CFF;
	margin: 0 5px;
}
/*=============================
 *      planes#add_materia
  =============================*/
.dialog_form label {
	font-size: 16px;
	display: block;
	color: #666666;
	margin-bottom: 10px;
}
.dialog_form .actions {
	padding: 20px 0;
	text-align: right;	
	vertical-align: middle;
}
.dialog_form input:focus {
	box-shadow: none;
}
.dialog_form .form_error_notice {
	width: 385px;
}
/*=============================
 *       materias#show
  =============================*/
  
#requisitos_wrapper {
	margin: 20px 0;
}
#requisitos_wrapper #caption {
	color: #CCC;	
}
#requisitos_wrapper #sb_input {
	width: 2px;
}
#requisitos_wrapper #sb_input.on_focus {
	width: 200px;
}
#selected_container, #caption { 
	float: left;	
	margin: 6px 0;
}
#requisitos_wrapper .selected {
	padding: 3px 6px;
	background-color: #0085F2;
	border: 1px solid #007BDF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 2px;
	color: #FFFFFF;
	display: inline;
}
#requisitos_wrapper #operator_select {
	margin-top: -3px;
}
#requisitos {
	font-size: 1.1em;
	background: #FCFCFC;
	padding: 8px 10px;
	display: inline-block;
	margin-top: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
}
#requisitos_text {
	float: left;
}
#requisitos_actions {
	margin-left: 20px;
	float: left;
}
#requisitos_sb {
	display: none;
}
#edit_requisitos {
	cursor: pointer;
}  
/*=============================
 *      Search bar styles
  =============================*/
#sb_container {
	max-width: 500px;
}

#sb_input_container {
	border: 1px solid #CCCCCC;
	min-height: 18px;
	padding: 0px 5px;
}


#sb_input_container input {
	border: none;
	width: 100%;
	font: 12px/120% Arial, sans-serif;
	margin: 6px 0;		
}

#sb_loader {
	text-align: center;	
	background-color: #F9F9F9;	
	padding: 5px 0;
	display: none;
}

#sb_loader img {
	width: 20px;
	height: 20px;
}

#sb_results_container, #sb_loader {
	margin-bottom: 10px;
}  

.sb_result {
	background-color: #F9F9F9;	
	padding: 8px 5px;
	border-bottom: 1px dotted #CCC;
	color: #333333;
	cursor: pointer;
}

.sb_result:hover {
	background-color: #fffad1;
}
/*=============================
 *      Dropdown styles
  =============================*/
ul.dropdown_menu {
	list-style: none;
}

ul.dropdown_menu li {
	padding: 3px 6px;
}
ul.dropdown_menu li:hover {
	color: #008CFF;
	background-color: #F9F9F9; 
}
ul.dropdown_menu li a {
	text-decoration: none;
	color: #333333;
}

/*=============================
 *     Search bar styles
  =============================*/
#search_bar_btn {
	background: #F9F9F9;	
	color: #FFFFFF;
	width: 50px;
	height: 28px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	float: left;	
	text-align: center;
	cursor: pointer;
}
#search_bar_btn img {	
	height: 17px;
	width: 13px;
	margin: 5px 0;
}

#search_bar_wrapper {
	width: 500px;
	float: left;
}

/*=============================
 *      Login styles
  =============================*/
  
#login_form_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    margin-left: -125px;       
    margin-top: -120px;    
}

#login_form .form_error_notice {
    width: 225px;
}

#login_submit,
.login_field {
    box-shadow: 0px 0px 5px #003672;
    border-radius: 5px;
    border: 1px solid #003064;    
}

.login_field input,
.login_field {
    background-color: #003D81;  
}

.login_field {
    padding: 5px 10px;
    margin: 10px 0;
}

.login_field input {
    color: #FFF;
    border: 0;
    width: 230px;
}

#login_submit {
    background: #008CFF;
    border: 1px solid #002A4C;
    padding: 10px 10px;
    width: 100%;
    color: #FFFFFF;
}
#login_submit:hover {
    background: #33A3FF;
    cursor: pointer;
}

/*=============================
 *      Flash Notice
  =============================*/
  
#flash_notice {
    position: absolute;
    top: 0;
    left: 50%;
    font-weight: bold;
    background: #fff8a6;
    color: #a52a2a;
    padding: 8px 15px;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;    
}
    
/*=============================
 *      General styles
  =============================*/

body {
	background: #00448F;
	font: 12px/150% Arial, Helvetica, sans-serif;
	color: #333333;	
}
input, textarea {
	outline: none; /*Elimina el marco de chrome*/
}


ul.dropdown_menu li a.blue,
table.custom_table td a.blue,
.blue {
	color: #008CFF;
}

.bold {
  font-weight: bold;
}

.bigger {
  font-size: 1.5em;
}

.clr {
	clear: both;	
}

.wrapper {
	margin: 0 auto;
	width: 950px;
}

.hr_light_10 {
	height: 1px;
	background: #F9F9F9;
	margin: 10px 0;
}
.blue_btn {
	background-color: #0085F2;
	border: 1px solid #007BDF;
	color: #FFFFFF;	
}
.grey_btn {
	background-color: #F9F9F9;
	border: 1px solid #CCC;
	color: #666666;	
}
.grey_btn, .blue_btn {	
	text-decoration: none;
	font: bold 12px Arial, sans-serif;
	padding: 6px 12px;
	cursor: pointer;	
	display: inline-block;
	outline: none;
}
.disabled_btn {
	background-color: #d1cfcf;
	border: 1px solid #b2b0b0;
	color: #b2b0b0;
	cursor: default;
}
.notice {
	padding: 5px 10px;
	background: #fff0a6;
	border: 1px solid #ffe779;
	margin: 10px auto;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 450px;
}

.guidelines {
	margin-right: 20px;
	color: #666666;
}
#current_filter {
	margin-top: 5px;
	font-size: 14px;
}
.no_border {
    border: none !important;
}

#password_change_form {
  margin: 20px auto;
}
