<div id="header_top">
	<div class="wrapper">
		<div id="user_info">
			<%= @user.full_name unless @user.nil? %> | <%= link_to 'Configuraci&oacute;n'.html_safe, settings_url %> | <%= link_to 'Salir', logout_url %>
			<% if session[:true_user_id] %>
				| <%= link_to "Back to admin", :controller => :pronosticos, :action => :changetoadmin%>
			<% end %>
		</div>
		<div class="clr"></div>
	</div>
</div>
