<% caption = caption.nil? ? '' : caption %>
<% title = title.nil? ? '' : title %>
<div id="main_header">
	<div id="header_left"></div>
	<div id="header_right">	
		<span class="big"><%= truncate title, :length => 25 %></span><br />		
		<span class="medium"><%= caption %></span>			
	</div>
	<div class="clr"></div>
</div>
