<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="author" content="Instituto Tecnologico y de Estudios Superiores de Monterrey" />
<meta name="description" content="Sistema de pronósticos académicos para alumnos del Campus Santa Fe." />
<meta name="keywords" content="ITESM, Tec de Monterrey, CSF, pronosticos" />
