<div id="nav">
	<div class="wrapper">
		<ul>
			<li class="first">
				<%= link_to 'Home', :controller => :admin, :action => :index %>
			</li>
			<li>
				<%= link_to 'Alumnos', :controller => :alumnos, :action => :index %>
			</li>
			<li>
				<%= link_to 'Materias', :controller => :materias, :action => :index %>
			</li>
			<li>
				<%= link_to 'Carreras', :controller => :carreras, :action => :index %>
			</li>
			<% unless @user.is_director? %>
				<li>
					<%= link_to 'Directores', :controller => :directores, :action => :index %>
				</li>
			<% end %>
			<li>
				<%= link_to 'Planes de estudio', :controller => :planes, :action => :index %>
			</li>
			<li>
				<%= link_to 'Semestres', :controller => :semestres, :action => :index %>
			</li>
			<li class="last">
				<%= link_to 'Pronósticos', :controller => :pronosticos, :action => :index %>
			</li>
			<div class="clr"></div>
		</ul>
	</div>
</div>
