<%= javascript_include_tag 'form' %>
<% id = id.nil? ? 0 : id %>
<div class="form">
	<%= form_for :materia, :url => { :controller => :materias, :action => action, :id => id }, :html => { :id => :materias_form } do |f| %>
		<div class="field first">
			<label>
				Clave
			</label>
			<%= f.text_field :clave %>
		</div>
		<div class="field last">
			<label>
				Nombre
			</label>
			<%= f.text_field :nombre %>
		</div>
		<div class="actions">
			<%= submit_tag 'Continuar', :class => 'blue_btn' %>
			<%= link_to 'Cancelar', 'javascript:window.history.back()', :class => 'blue_btn' %>
		</div>
	<% end %>
</div>