<ul class="sidebar_menu">
	<li>
		<%= link_to 'Agregar materias', :controller => :materias, :action => :new %>
	</li>
	<li>
		<%= link_to 'Buscar materia', :controller => :materias, :action => :search %>
	</li>
	<li>
		<%= link_to 'Listar materias', :controller => :materias, :action => :index %>
	</li>
</ul>			
