<%= javascript_include_tag 'dialog' %>
<%= javascript_include_tag 'pager' %>
<script type="text/javascript">
	(function(){
		var current_filter = null;
		var materias_container = null;
		var materias_pager = null;
		$(function(){
			current_filter = $('#current_filter');		
			materias_container = $('#materias_container');		
			materias_pager = $.pager({
				url: '<%= url_for :controller => :materias, :action => :list_materias %>',
				contents_container: materias_container,
				onResponse: function(contents) {
					var s = '';
					s += '<tbody>';
					$.each(contents, function(key,materia){
						s += '<tr>';
							s += '<td>';
								s += '<a href="<%= url_for :controller => :materias, :action => :show%>/' + materia.materia.id + '">' + materia.materia.clave + '</a>';								
							s += '</td>';
							s += '<td>';
								s += '<a href="<%= url_for :controller => :materias, :action => :show%>/' + materia.materia.id + '">' + materia.materia.nombre + '</a>';
							s += '</td>';
							s += '<td class="actions">';
								s += '<a href="<%= url_for :controller => :materias, :action => :edit %>/' + materia.materia.id + '">';
									s += '<%= image_tag 'ui/edit_icon.jpg', :alt => 'Editar', :title => 'Editar' %>';
								s += '</a>';
								s += '<a href="#" class ="delete_btn" id="' + materia.materia.id + '">';
									s += '<%= image_tag 'ui/delete_icon.jpg', :alt => 'Eliminar', :title => 'Eliminar' %>';
								s += '</a>';
							s += '</td>';
						s += '</tr>';
					});
					s += '</tbody>';					
					materias_container.html(s).hide().fadeIn(500);
					setTableActions({
						confirmation_message: 'La materia será eliminada de todos los planes de estudio',
						url: '<%= url_for :controller => :materias, :action => :delete %>',
						callback: function(response) {
							materias_pager.loadContents();
						}
					});
				}
			});
			$('.filter_btn').click(function(e){
				e.preventDefault();
				materias_pager.params = {
					plan_id: $(this).attr('id')
				};
				alumnos_pager.page = 0;				
				materias_pager.loadContents();
				current_filter.text($(this).text());
			});		
		});
	})(jQuery);
</script>
<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Materias'}%>
</div>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
		<div class="hr_light_10"></div>
		<ul class="sidebar_menu">
			<li><%= link_to 'Todas', '#', :class => 'filter_btn' %></li>
			<% @planes.each do |plan| %>
				<li><%= link_to plan[0], '#', :id => plan[1], :class => 'filter_btn' %></li>
			<% end %>
		</ul>
	</div>
	<div id="content">
		<h2>Materias</h2>
		<div id="current_filter" class="blue">Todas</div>
		<table class="custom_table" id="materias_container"></table>
	</div>
	<div class="clr"></div>
</div>
			
