<script type="text/javascript">
	(function(){
		$(function(){
			$.form({
				container: $('#materias_form'),
				onSuccess: function(){
					window.location = '<%= url_for :action => :index %>';
				}			
			});
		});
	})(jQuery);
</script>
<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Materias', :caption => 'Agregar una materia'}%>
</div>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>	
	<div id="content">		
		<%= render :partial => 'form', :locals => { :action => 'create' } %>
	</div>
	<div class="clr"></div>
</div>