<%= javascript_include_tag 'search_bar' %>
<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		$(function(){
			var search_btn = $('#search_bar_btn').click(function(e){
				e.preventDefault();
				search_bar.doPost();
			});
			var search_bar = $.search_bar({
				container: $('#search_bar_wrapper'),
				url: '<%= url_for :controller => :materias, :action => :find %>',
				placeholder: 'Escribe la clave o nombre de la materia',
				results_container: $('#results_container'),
				onResponse: function(data) {
					s = '<table id="materias_container" class="custom_table">';
					s += '<tbody>';
					$.each(data, function(key, materia){
						s += renderRow(materia);
					});
					s += '</tbody>';
					s += '</table>';
					search_bar.results_container.html(s).hide().fadeIn(500);
					setTableActions({
						confirmation_message: 'La materia será eliminada',
						url: '<%= url_for :controller => :materias, :action => :delete %>',
						callback: function(response) {
							search_bar.doPost();
						}
					});
				}
			});
		});
		function renderRow(materia) {
			s = '';
			s += '<tr>';
				s += '<td>';
					s += '<a href="<%= url_for :controller => :materias, :action => :show%>/' + materia.materia.id + '">' + materia.materia.clave + '</a>';								
				s += '</td>';
				s += '<td>';
					s += '<a href="<%= url_for :controller => :materias, :action => :show%>/' + materia.materia.id + '">' + materia.materia.nombre + '</a>';
				s += '</td>';
				s += '<td class="actions">';
					s += '<a href="<%= url_for :controller => :materias, :action => :edit %>/' + materia.materia.id + '">';
						s += '<%= image_tag 'ui/edit_icon.jpg', :alt => 'Editar', :title => 'Editar' %>';
					s += '</a>';
					s += '<a href="#" class ="delete_btn" id="' + materia.materia.id + '">';
						s += '<%= image_tag 'ui/delete_icon.jpg', :alt => 'Eliminar', :title => 'Eliminar' %>';
					s += '</a>';
				s += '</td>';
			s += '</tr>';
			return s;
		}
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:title => 'Materias', :caption => 'Buscar una materia'}%>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
	</div>	
	<div id="content">		
		<div id="search_bar_wrapper"></div>
		<div id="search_bar_btn"><%= image_tag 'ui/search_icon.png'%></div>
		<div class="clr"></div>
		<div id="results_container"></div>		
	</div>
	<div class="clr"></div>
</div>