<%= javascript_include_tag 'search_bar' %>
<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		var i = 0;		
		var selected_container;		
		var caption;
		var sb_wrapper;
		var requisitos_text;
		var requisitos_container;
		var last;
		var edit_btn;
		var cancel_btn;
		var open_parentheses = 0;
		var last_is_subject;
		var search_bar;
		var submit_btn;
		var form;
		var can_add = {
			'(': true,
			')': false,
			'|': false,
			'&': false			
		};
		var elements = [];
		$(function(){
			i = 0;
			requisitos_container = $('#requisitos');
			sb_wrapper = $('#requisitos_sb');			
			cancel_btn = $('#cancel_btn').click(function(e){
				e.preventDefault();
				reset();
				hideSearchBar();
			});
			requisitos_text = $('#requisitos_text');
			form = $('#requisitos_form');
			submit_btn = $('#submit_btn');
			selected_container = $('<div id="selected_container"></div>');
			caption = $('<div id="caption">Escribe nombre o clave de la materia...</div>');			
			last = $('');	
			last_is_subject = false;
			updateRequirements();
			edit_btn = $('#edit_requisitos').click(function(){
				showSearchBar();
			});					
			search_bar = $.search_bar({
				params:{
					selected: []
				},								
				container: $('#requisitos_wrapper'),
				url: '<%= url_for :controller => :materias, :action => :find %>',
				onResponse: function(materias){					
					var s = '';					
					$.each(materias, function(key,materia){
						s += '<div class="sb_result" value="' + materia.materia.id + '" name="' + materia.materia.clave +'">';
							s += materia.materia.clave + ' ' + materia.materia.nombre;
						s += '</div>';	
					});
					var results = $(s);					
					search_bar.results_container.html('');
					results.appendTo(search_bar.results_container);					
					results.click(function(e){						
						var s = '<span class="selected subject" value="s">' + $(this).attr('name') + '</span>';
						last = $(s);
						elements.push($(this).attr('value'));
						last.appendTo(selected_container);
						last_is_subject = true;												
						search_bar.results_container.hide();
						search_bar.input.val('');
						search_bar.params.selected.push($(this).attr('value'));
						i = 0;			
						updateActions['s']();													
					});					
					search_bar.results_container.hide().fadeIn(200);					
				}				
			});			
			caption.prependTo(search_bar.input.parent());									
			selected_container.prependTo(search_bar.input.parent());
			$('<div class="clr"></div>').appendTo(search_bar.input.parent());
			caption.click(function(e){
				search_bar.input.focus();
			});
			search_bar.input.focus(function(e){
				caption.hide();
				$(this).addClass('on_focus');
			});
			search_bar.input.keyup(function(e){															
				if(e.keyCode == 8 && i == 0 && last.length > 0) {
					last.remove();
					if(last.attr('value') == ")") {
						++open_parentheses;	
					}					 
					if(last_is_subject) {
						search_bar.params.selected.pop();
					}						
					elements.pop();
					last = selected_container.find('.selected:last-child');
					last_is_subject = last.hasClass('subject');										
					last.length == 0 ? updateActions['default']() : updateActions[last.attr('value')]();					
				}
				else if(search_bar.input.val() == "(" && can_add['(']) {
					addOperator({
						text: '(',
						value: '('
					});
					updateActions['(']();	 
					++open_parentheses;
				}
				else if(search_bar.input.val() == ")" && can_add[')']) {
					addOperator({
						text: ')',
						value: ')'
					});					
					--open_parentheses;
					updateActions[')']();					
				}
				else if(search_bar.input.val() == "&" && can_add['&']) {					
					addOperator({
						text: 'AND',
						value: '&'
					});
					updateActions['&']();
				}
				else if(search_bar.input.val() == "|" && can_add['|']) {
					addOperator({
						text: 'OR',
						value: '|'
					});
					updateActions['|']();
				}
				else {
					i = search_bar.input.val().length;
				}
			});
			search_bar.input.focusout(function(e){	
				caption.show();
				$(this).removeClass('on_focus');
			});
			submit_btn.click(function(e){
				e.preventDefault();				
				var s = '';
				$.each(elements, function(key, val){
					s += val + ' ';
				});				
				form.find('#materia_requisitos').attr('value',s);
				var length = 0;
				$.post(form.attr('action'), form.serialize(), function(data){
					$.each(data, function(key, error){
						++length;						
					});
					if(length > 0) {
						
					}
					else {						
						reset();
						updateRequirements();
						hideSearchBar();
					}
				});
			});
		});
		var updateActions = {
			'(': function() {
				can_add['&'] = can_add['|'] = false;
				can_add[')'] = can_add['('] = true;
			},
			')': function() {
				can_add[')'] = open_parentheses > 0;
				can_add['('] = can_add['&'] = can_add['|'] = true;
			},
			'&': function() {
				can_add['|'] = can_add['&'] = can_add[')'] = false;
				can_add['('] = true;
			},
			'|': function() {
				can_add['|'] = can_add['&'] = can_add[')'] = false;
				can_add['('] = true;
			},
			's': function() {
				can_add['&'] = can_add['|'] = true;
				can_add['('] = false;				
				can_add[')'] = open_parentheses > 0;
			},
			'default': function() {
				can_add['('] = true;
				can_add[')'] = can_add['|'] = can_add['&'] = false;				
			}
		};
		function hideSearchBar() {
			sb_wrapper.hide();
			requisitos_container.fadeIn();
		}
		function showSearchBar() {
			requisitos_container.hide();
			sb_wrapper.fadeIn();
		}
		function reset() {
			selected_container.html('');			
			form.find('#materia_requisitos').attr('value','');
			elements = [];
			search_bar.params.selected = [];			
		}
		function updateRequirements() {
			$.post('<%= url_for :controller => :materias, :action => :get_requisitos %>',{
				id: <%= @materia.id %>
			}, function(response){
				if(response.requisitos) {
					requisitos_text.html(response.requisitos).hide().fadeIn(200);	
				}
				else {
					requisitos_text.html('Esta materia no tiene requisitos');	
				}				
			});
		}
		function addOperator(opts) {
			search_bar.resetSearching();
			var s = '<span class="selected" value="' + opts.value + '">' + opts.text + '</span>';
			last = $(s);
			last.appendTo(selected_container);
			last_is_subject = false;
			search_bar.input.val('');
			i = 0;
			elements.push(opts.value);
		}
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:caption => @materia.clave, :title => @materia.nombre}%>
<div id="main_content">
	<div id="sidebar">		
		<%= render :partial => 'sidebar_menu' %>
		<div class="hr_light_10"></div>
		<h3 class="blue">Instrucciones</h3>		
		<p class="guidelines">			
			Escribe el nombre o clave de la materia para agregarla como requisito de <%= @materia.nombre %>,
			puedes utilizar las teclas | y &amp; para requisitos m&aacute;s complejos, tambi&eacute;n puedes utilizar par&eacute;ntesis. 
		</p>			
	</div>	
	<div id="content">		
		<div id="content_header">
			<div id="content_header_left">
				<h2>Requisitos</h2>
			</div>
			<div id="content_header_right"></div>
			<div class="clr"></div>
		</div>		
		<div id="requisitos">
			<div id="requisitos_text"></div>
			<div id="requisitos_actions"><%= image_tag 'ui/edit_icon.jpg', :title => 'editar', :id => 'edit_requisitos' %></div>
			<div class="clr"></div>
		</div>
		<div id="requisitos_sb">					
			<div id="requisitos_wrapper"></div>		
			<%= form_for :materia, :url => {:controller => :materias, :action => :update, :id => @materia.id}, :html => {:id => 'requisitos_form'} do |f| %>
				<%= f.hidden_field :requisitos, :value => '' %>
				<div class="actions">				
					<%= submit_tag 'Continuar', :class=> 'blue_btn', :id => 'submit_btn' %>
					<%= link_to 'Cancelar', '#', :class => 'blue_btn', :id => 'cancel_btn' %>				
				</div>
			<% end %>
							
		</div>	
	</div>
	<div class="clr"></div>
</div>