<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Configuraci&oacute;n'.html_safe }%>
</div>
<div id="password_change_form" class="form">
	<%= form_for :pwd_change, :url => { :controller => :settings, :action => :change_password } do |f| %>
	  <% if @user.errors.any? %>
      <div class="form_error_notice">
        <% @user.errors.each_pair do |key, msg| %>
          <div class="form_field_error">
            <%= msg.join.html_safe %>
          </div>
        <% end %>  
      </div>
    <% end %>
		<div class="field first">
			<label>
				Contrase&ntilde;a actual
			</label>
			<%= f.password_field :current_password %>
		</div>
		<div class="field">
			<label>
				Nueva contrase&ntilde;a
			</label>
			<%= f.password_field :new_password %>
		</div>
		<div class="field last">
			<label>
				Confirma nueva contrase&ntilde;a
			</label>
			<%= f.password_field :new_password_confirmation %>
		</div>
		<div class="actions">
			<%= submit_tag 'Continuar', :class => 'blue_btn' %>
			<%= link_to 'Cancelar', 'javascript:window.history.back()', :class => 'blue_btn' %>
		</div>
	<% end %>
</div>
&nbsp;
