<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos'}%>
</div>
<div id="main_content">
    <div id="content" class="no_border">
        <div id="content_header">
			<div id="content_header_left">
				<h2>¡Gracias!</h2>
			</div>
			<div class="clr"></div>
		</div>
        <p> 
            Tus pronósticos para el semestre <span class="blue"> <%= semester_name @semestre.fecha_inicio, @semestre.fecha_fin %> </span> ya han sido registrados, si haz cambiado de opini&oacute;n, por favor, <%= link_to 'contáctanos', 'mailto:gerardo.cervera@itesm.mx' %>
        </p>
    </div>
    <div class="clr"></div>
</div>
