<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		var materias_container;
		var options_container;	
		var continue_btn;
		var checked_items;
		var checked_items_number = 0;
		var programa_internacional;
		var candidato;
		var success_url = '<%= alumnado_pronosticos_thank_you_url %>';
		var max_items = <%= @max_items %>;
		$(function(){
			materias_container = $('#materias_container');
			options_container = $('#options_container');
			continue_btn = $('#continue_btn').click(function(e){
				e.preventDefault();
				checked_items = [];
				materias_container.find('input[type="checkbox"].checked').each(function(){
					checked_items.push($(this).val());
				});
				$.post(
					'<%= url_for :controller => :pronosticos, :action => :create %>',
					{						
						'checked_items': checked_items,
						'programa_internacional': programa_internacional,
						'candidato': candidato,
						'alumno_id': '<%= @alumno.id %>'				
					},
					function(data) {
						if(data.success) {
							window.location = success_url;
						}	
						else {
							$.dialog({
								'title': 'Oops!',
								'msg': 'Se ha producido un error, intenta más tarde	'
							});
						}
					}
				);
				
			});
			materias_container.find('.materia_checkbox').change(function(e){				
				if($(this).is(':checked') && checked_items_number < max_items) {
					++checked_items_number;
					$(this).addClass('checked');
					$(this).parent().parent().addClass('selected_row');							
				}
				else if(!$(this).is(':checked')){
					--checked_items_number;							
					$(this).removeClass('checked');
					$(this).parent().parent().removeClass('selected_row');
				}
				else {
					$(this).attr('checked',false);
					$.dialog({
						title: 'Error',
						msg: 'Por favor selecciona hasta ' + max_items + ' materias',
						min_height: 100
					});
				}
			});
			options_container.find('.programa_checkbox').change(function(e){
				if($(this).is(':checked')) {
					$('#materias_container').hide();
					programa_internacional = true;
					candidato = false;
					$('.candidato_checkbox').attr('checked', false);			
				}
				else {
					$('#materias_container').show();
					programa_internacional = false;				
				}
			});
			options_container.find('.candidato_checkbox').change(function(e){
				if($(this).is(':checked')) {
					candidato = true;
					programa_internacional = false;
					$('.programa_checkbox').attr('checked', false);
					$('#materias_container').show();
				}
				else {
					candidato = false;				
				}
			});
		});
	})(jQuery);
</script>
<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos'}%>
</div>
<div id="main_content">	
	<div id="sidebar">
		<h3 class="blue">Instrucciones</h3>
		<p class="guidelines">
			A la derecha encontrarás una lista de las materias que podrías cursar
			el siguiente semestre, dependiendo de tu historial académico y de acuerdo a 
			la regla de los 3 semestres. 
		</p><br />		
		<p class="guidelines">
			Por favor selecciona hasta <%= @max_items %> materias y presiona continuar. Si serás candidato
			a graduar, marca la casilla y selecciona tus materias.					
		</p>
		</p><br />		
		<p class="guidelines">
			Si harás un programa internacional el próximo semestre, marca la casilla correspondiente 
			y no selecciones materias.		
		</p>
		<div class="hr_light_10"></div>
		<h3 class="blue">Notas</h3>
		<p class="guidelines">
			Las materias que pronostiques no necesariamente serán las que curses el
			siguiente semestre, esto sólo nos ayuda a determinar qué materias abrir.
		</p>
	</div>
	<div id="content">
		<div id="content_header">
			<div id="content_header_left">
				<h2>Pronósticos</h2>
			</div>
			<div id="content_header_right">
				<%= link_to 'Continuar', '#', :class => 'blue_btn', :id => 'continue_btn' %>
			</div>
			<div class="clr"></div>
		</div>
		
		<div id="options_container">
			<%= check_box_tag 'programa_internacional', 1, false, {:class => :programa_checkbox} %>
			<label>Programa internacional</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= check_box_tag 'candidato', 1, false, {:class => :candidato_checkbox} %>
			<label>Candidato a graduar</label>
		</div>

		<table class="custom_table" id="materias_container">
			<tbody>
				<% semestre = -1 %>
				<% @materias.each do |materia| %>
					<% if materia.semestre_for(@alumno.plane_id) != semestre %>
						<% semestre = materia.semestre_for(@alumno.plane_id) %>
						<tr class="separator">
							<td colspan="3"><%= semestre_text semestre %></td>
						</tr>
					<% end %>
					<tr>
						<td><%= check_box_tag materia.id, materia.id, false, {:class => :materia_checkbox	} %></td>
						<td><%= materia.clave %></td>
						<td><%= materia.nombre %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="clr"></div>
</div>
			
