<div id="main_header">
	<%= render :partial => 'shared/main_header', :locals => {:title => 'Pronósticos'}%>
</div>
<div id="main_content">
    <div id="content" class="no_border">
        <div id="content_header">
			<div id="content_header_left">
				<h2>¡Gracias!</h2>
			</div>
			<div class="clr"></div>
		</div>
        <p> 
            Tus pronósticos para el semestre <span class="blue"> <%= semester_name @semestre.fecha_inicio, @semestre.fecha_fin %> </span> ya han sido registrados, si has cambiado de opini&oacute;n, por favor, <%= link_to 'contáctanos', 'mailto:gerardo.cervera@itesm.mx' %>.
        </p>

				<br>
				<% if @programa_internacional %>
					<h3>Programa internacional</h3>
				<% else %>
					<h3>Tus pron&oacute;sticos son: </h3>
					<% if @candidato %>
						<br/><p>Candidato a graduar<p>
					<% end %>
					<table class="custom_table" id="pronosticos_container">
						<tbody>
							<% @content.each do |materia| %>
								<tr>
									<td>
										<%= materia.clave %>
									</td>
									<td>
										<%= materia.nombre %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				<% end %>		
    		<div class="clr"></div>
    		</div>
    </div>
    <div class="clr"></div>
</div>
