<% id = id.nil? ? 0 : id %>
<div class="form">
	<%= form_for :usuario, @director, :url => {:action => action, :id => id}, :html => {:id => 'directores_form'} do |f| %>
		<div class="field first">
			<label>
				Username
			</label>
			<%= f.text_field :username %>
		</div>
		<div class="field">
			<label>
				Nombre
			</label>
			<%= f.text_field :nombre %>
		</div>
		<div class="field">
			<label>
				Apellidos
			</label>
			<%= f.text_field :apellidos %>
		</div>		
		<div class="field">
			<label>
				Password
			</label>
			<%= f.password_field :password %>
		</div>
		<div class="field last">
			<label>
				Carrera
			</label>
			<%= select :carrera, :carrera_id, @carreras, {}, {:multiple => true, :size => 5} %>	
		</div>
		<div class="actions">
			<%= submit_tag 'Continuar', :class => 'blue_btn' %>
			<%= link_to 'Cancelar', 'javascript:window.history.back()', :class => 'blue_btn' %>
		</div>
	<% end %>
</div>
