<ul class="sidebar_menu">
	<li><%= link_to 'Agregar director', :controller => :directores, :action => :new %></li>
	<li><%= link_to 'Listar directores', :controller => :directores, :action => :index %></li>
</ul>
