<%= javascript_include_tag 'pager' %>
<%= javascript_include_tag 'dialog' %>
<script type="text/javascript">
	(function(){
		var current_filter = null;
		var directores_pager = null;
		var directores_container = null;
		$(function(){
			current_filter = $('#current_filter');
			directores_container = $('#directores_container'); 
			directores_pager = $.pager({
				contents_container: directores_container,
				url: '<%= url_for :controller => :directores, :action => :list %>',
				onResponse: function(contents) {
					var s = '';
					s += '<tbody>';
						$.each(contents,function(key,director){
							s += '<tr>';
								s += '<td>' + director.director.nombre + ' ' + director.director.apellidos + '</td>';
								s += '<td class="actions">';
									s += '<a href="<%= url_for :controller => :directores, :action => :edit %>/' + director.director.id + '">';
										s+= '<%= image_tag 'ui/edit_icon.jpg', :alt => 'Editar', :title => 'Editar' %>';
									s += '</a>';
									s += '<a href="#" class ="delete_btn" id="' + director.director.id + '">';
										s += '<%= image_tag 'ui/delete_icon.jpg', :alt => 'Eliminar', :title => 'Eliminar' %>';
									s += '</a>';
								s += '</td>';
							s += '</tr>';
						});
					s += '</tbody>';
					directores_container.html(s).hide().fadeIn(500);
					setTableActions({
						confirmation_message: 'El director será eliminado',
						url: '<%= url_for :controller => :directores, :action => :delete %>',
						callback: function(response) {
							directores_pager.loadContents();
						}
					});
				} 
			});
			$('.filter_btn').click(function(e){
				e.preventDefault();
				directores_pager.params = {
					carrera_id: $(this).attr('id')
				};
				directores_pager.page = 0;				
				directores_pager.loadContents();
				current_filter.text($(this).text());
			});
		});
	})(jQuery);
</script>
<%= render :partial => 'shared/main_header', :locals => {:title => 'Directores'} %>
<div id="main_content">
	<div id="sidebar">
		<%= render :partial => 'sidebar_menu' %>
		<div class="hr_light_10"></div>
		<ul class="sidebar_menu">
			<li><%= link_to 'Todos', '#', :class => 'filter_btn' %></li>
			<% @carreras.each do |carrera| %>
				<li><%= link_to carrera[0], '#', :id => carrera[1], :class => 'filter_btn' %></li>
			<% end %>
		</ul>
	</div>	
	<div id="content">
		<h2>Directores</h2>
		<div id="current_filter" class="blue">Todos</div>
		<table class="custom_table" id="directores_container"></table>
	</div>
	<div class="clr"></div>
</div>
