<!DOCTYPE html>
<html>
	<head>
		<title>
			ITESM Campus Sante Fe | Pronósticos
		</title>
		<%= render :partial => 'shared/meta' %>
		<%= render :partial => 'shared/stylesheets' %>
		<%= render :partial => 'shared/js' %>
	</head>
	<body>
	    <% if flash[:notice] %>
            <script type="text/javascript">
                (function(){
                    $(function(){
                        var flash_notice = $('#flash_notice'); 
                        var flash_width = flash_notice.outerWidth();
                        flash_notice.css('margin-left', flash_width / -2);                
                    });
                })(jQuery);
            </script>
            <div id="flash_notice">
                <%= flash[:notice] %>
            </div>
        <% end %>
		<div id="header">
			<%= render :partial => 'shared/header_top'%>
			<div id="logo">
				<div class="wrapper">
					<%= image_tag 'ui/logo.jpg' %>
				</div>				
			</div>
			<%= render :partial => 'shared/nav' %>
		</div>
		<div id="main">
			<div class="wrapper">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<div class="wrapper">
				<%= render :partial => 'shared/footer' %>
			</div>			
		</div>
	</body>
	

</html>
