<!DOCTYPE html>
<html>
	<head>
		<title>
			ITESM Campus Sante Fe | Pronósticos
		</title>
		<%= render :partial => 'shared/meta' %>
		<%= render :partial => 'shared/stylesheets' %>
		<%= render :partial => 'shared/js' %>
	</head>
  <body>				
		<%= yield %>				
	</body>
	

</html>
