<!DOCTYPE html>
<html>
	<head>
		<title>
			ITESM Campus Sante Fe | Pronósticos
		</title>
		<%= render :partial => 'shared/meta' %>
		<%= render :partial => 'shared/stylesheets' %>
		<%= render :partial => 'shared/js' %>
	</head>
	<body>
		<div id="header">
			<%= render :partial => 'shared/header_top'%>
			<div id="logo">
				<div class="wrapper">
					<%= image_tag 'ui/logo.jpg' %>
				</div>				
			</div>
			<%= render :partial => 'shared/nav' %>
		</div>
		<div id="main">
			<div class="wrapper">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<div class="wrapper">
				<%= render :partial => 'shared/footer' %>
			</div>			
		</div>
	</body>
	

</html>
